{:title "About"
 :interests [["clojure" "is-primary"] ["js" "is-primary"] ["functiona programming" "is-primary"]
             ["event sourcing" "is-info"]  ["google cloud platform" "is-info"]
             ["ddd" "is-danger"] ["clean code" "is-danger"]]

 :tile (fn [color title content]
         [:div.tile.is-parent
          [:article.tile.is-child.box.notification {:class color}
           [:p.title title]
           content]])
 :content
 (fn [{:keys [tile interests]}]
   (let [tile (eval tile)]
     [:section.section
      [:div.tile.is-ancestor
       (tile "is-primary" "Me" "a")
       (tile "is-white" "Interests"
             [:div.tags
              (->> interests
                   (map
                    (fn [[name color]]
                      [:span.tag {:class color} name])))])
       (tile "is-info" "Work" "")]]))}
