{:title "Example"
 :content
 (fn [{:keys [slug]}]

   [:div.content
    [:h1 "Welcome"]

    (sneakycode.render/markdown
     "
* have
* some
* markdown")

    (sneakycode.render/clj
     {}
     (defn awesomeness []
       (prn "The Greatest")
       )

     (defn my-foo [purple cars {:keys [a b]}]
       (let [you-ma []
             se-pa {:foo "123" }]
         (-> se-pa
             (assoc :ma you-ma)
             ))
       )

     (+ 1 1))

    [:blockquote "Normal Hiccup also works"]


    (sneakycode.cljs/compile-cljs
     false slug "foo.bar"
     (ns foo.bar)
     (prn "even the js works"))

    (sneakycode.render/snippet :button "this can be anything you want to reuse around the site.")
    ])}
