{:title "Feeling Lost?"
 :content
 [:div.container.has-text-centered
  [:h1.title.is-1.has-text-primary "404"]
  [:h1.title.is-1.has-text-primary {:style "margin: 15vh 0"}
   "¯\\_(ツ)_/¯"]
  [:a.button.is-large.is-primary.is-outlined {:href "./"}
   [:span.icon.is-medium
    [:i.fa.fa-bath]]]]}
