{:title "SneakyCode"
 :no-section? true
 :no-menu? true

 :hero
 (fn [_]
   [:div.hero
    [:div.hero-body
     [:div.container
      [:h1.title "sneakycode"]
      [:h2.subtitle "pieter koornhof on clean-code, clojure and ddd"]]]])


 :titled-column
 (fn [title content]
   [:div.columns.is-mobile.is-gapless.tiled-column-container
    [:div.column.is-1.titled-column [:div.titled-column-text.has-text-weight-light title]]
    [:div.column content]])


 :post-tile
 (fn [{:keys [title slug date]}]
   [:div.post-item
    [:a.subtitle.has-text-weight-light {:href (sneakycode.config/url slug)}
     [:span title]
     [:br]
     [:span.tag.is-small date]]])


 :recent-posts
 (fn [{:keys [all-posts post-tile] :as page}]
   (let [posts (->> all-posts
                    (sort-by :date)
                    reverse
                    (take 4)
                    (map post-tile))]
     [:article
      posts
      [:div
       [:a.button.is-primary.is-outlined.is-small {:href (sneakycode.config/url "all-posts")} "read more"]]]))


 :my-projects
 (fn [_]
   [:article
    [:p.title.is-marginless.is-4.has-text-weight-light "Projects"]
    [:div {:style "height: 100px"}]])


 :my-tools
 (fn [_]
   (let [icons [["clojure_alt" "Clojure"]
                ["nodejs_small" "Node"]
                ["google-cloud-platform" "Google Cloud Platform"]
                ["react" "React"]
                ["sass" "Sass"]
                ["github_badge" "Github"]
                ["terminal" "Spacemacs"]
                ["git" "Git"]
                ["apple" "Macbook Pro"]]]
     (into
      [:div.columns.is-multiline.is-mobile.my-tools]
      (->> icons
           (map
            (fn [[i t]]
              [:div.column.is-one-third.has-text-centered.tooltip.is-tooltip-primary
               {:data-tooltip t}
               [:span {:class (str "devicons devicons-" i)}]]))))))


 :about-me
 (fn [_]
   (let [info ["Tech Lead at Simply.co.za"
               "Software Engineer"
               "Clojure Fanboy"
               "Father of 4"
               "Husband"
               "Coder"
               "Man"]]
     [:article
      [:div.card-image
       [:figure.image.is-2by3.profile-photo
        [:img.profile-photo {:alt "Me" :src (sneakycode.config/url "/profile-min.png")}]
        (into [:ul]
              (->> info
                   (sort-by count)
                   reverse
                   (map #(vec [:li %]))))]]]))


 :content
 (fn [{:keys [hero about-me recent-posts my-projects my-tools titled-column] :as page}]
   [:div
    (hero page)
    [:div.section
     [:div.columns
      [:div.column.is-one-fourth.is-paddingless
       (titled-column "recent posts" (recent-posts page))]
      [:div.column.is-one-fourth.is-paddingless
       (titled-column "projects" (my-projects page))]
      [:div.column.is-one-fourth.is-paddingless
       (titled-column "tools" (my-tools page))]
      [:div.column.is-one-fourth.is-paddingless
       (titled-column "me" (about-me page))]
      ]]])}
