{:title "Tags"
 :content
 (fn [{:keys [all-tags]}]
   (let [tags
         (->> all-tags
              (sort-by :tag)
              (map (fn [{:keys [tag posts]}]
                     (->
                      (into
                       [[:div.timeline-header
                         [:a.tag.is-primary
                          {:href (sneakycode.config/url (str "tag/" tag))}
                          tag]]]
                       (->>
                        posts
                        (map
                         (fn [{:keys [title slug]}]
                           [:div.timeline-item
                            [:div.timeline-marker.is-icon
                             [:i.fa.fa-link]]
                            [:div.timeline-content
                             [:a {:href (sneakycode.config/url slug)} title]]]))))
                      (conj [:div.timeline-item]))))
              (reduce into)
              (into [:div.timeline.is-centered]))]
     [:div.container.short-timeline
      (conj tags [:header.timeline-header
                  [:span.tag.is-primary.tag-lite "end"]])]))}
