{:title "TEST MD"
 :content
 (fn [{:keys [slug]}]
   [:div
    (sneakycode.render/markdown

     (sneakycode.render/clj

      (defn 1 2 3)))

   (sneakycode.render/snipit :p5)


    (sneakycode.render/markdown
     "# hello"

     "
1. footer
2. bar"

     "bar"

     (sneakycode.render/clj

      (defn foo [a b]
        (->> (+ a b)
             inc
             dec))

      (+ 1 1)

      ))])}
