{:title "TEST"
 :content
 (fn [{:keys [slug]}]
   [:div {:id "b"} "Press the button to see a console.log"
    [:button {:id "my-button" :onclick "cljs.foo.press()"} "Press Me"]

    (sneakycode.cljs/compile-cljs slug "cljs.foo"
     (ns cljs.foo)
     (defn ^:export press [e]
       (js/alert "See It Works")))])}
