{:title "SneakyCode"
 :description "Pieter Koornhof on Domain Driven Design, Clean Code and .Net"
 :author "Pieter Koornhof"
 :date-format "yyyy-MM-dd"

 :domain "http://localhost:4321/"
 :disqus? false
 :disqus-domain "http://sneakycode.net/"}
