@import "variables";

@import "node_modules/bulma/bulma";

hr {
  background-image: $primary-gradient;
}

.has-gradient {
  background-image: $primary-gradient;
}

.navbar.is-dark .navbar-brand > a.navbar-item:hover, .navbar.is-dark .navbar-brand > a.navbar-item.is-active, .navbar.is-dark .navbar-brand .navbar-link:hover, .navbar.is-dark .navbar-brand .navbar-link.is-active {
  background-color: darken($primary-dark, 5%);
}

.short-timeline {
  padding-bottom: 4em;
  .timeline {
    .timeline-item {
      padding-bottom: 0.5em;
    }
  }
}

.post-tags {
  padding-top: 5px !important;
}

.tag:not(body).tag-lite {
  &.is-primary {
    background-color: lighten($primary, 30%);
  }
}


.content {
  padding-bottom: $size-1;
  pre {
    border-radius: 5px;
    box-shadow: 10px 14px 19px -9px rgba(0,0,0,0.15);
    display: inline-block;
    padding: 1.5rem 2.5rem !important;
    margin: 1.25rem 0 1.5rem;
    max-width: 100%;
    overflow-x: scroll;
  }
  p {
    a {
      color: $green;
      &:hover {
        color: $red;
      }
    }
  }
}


#disqus_thread {
  margin-bottom: 20px;
}
