@import "variables";

@import "node_modules/bulma/bulma";

hr {
  background-image: $primary-gradient;
}

.has-gradient {
  background-image: $primary-gradient;
}

.navbar.is-dark .navbar-brand > a.navbar-item:hover, .navbar.is-dark .navbar-brand > a.navbar-item.is-active, .navbar.is-dark .navbar-brand .navbar-link:hover, .navbar.is-dark .navbar-brand .navbar-link.is-active {
  background-color: darken($primary-dark, 5%);
}

.hero {
  background-image: $primary-gradient;
  .title, .subtitle {
    color: $white-ter;
  }
}

.post-item {
  padding-left: $size-7;
  margin-bottom: $size-6;
  border-left: 4px solid $primary-5;
  &:nth-child(5) { border-left-color: $primary-1; }
  &:nth-child(4) { border-left-color: $primary-2; }
  &:nth-child(3) { border-left-color: $primary-3; }
  &:nth-child(2) { border-left-color: $primary-4; }
}
