@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

pre {
  margin: 1.25rem 0;
  padding: 1.25rem 1.5rem;
}

pre, code {
  font-family: 'Source Code Pro', monospace !important;
  font-variant-ligatures: normal !important;
}
