// My Colors

$main-grey: #e9e4e4

//$primary-gradient: linear-gradient(to right top, #455466, #605d87, #965e95, #ce5986, #f3615f)
$primary-gradient: linear-gradient(to right, #455466, #57547b, #804c7e, #a83f67, #bc3e3c)
$primary-light: #F3615F
$primary-dark: #455466
$black: $primary-dark
$white: white
$white-ter: hsl(0, 0%, 96%)
//Bulma

$primary: $primary-dark
//$info: $cyan
$success: $primary-dark
//$warning: $yellow
//$danger: $red
//$dark: $grey-darker
$text: $primary-dark
$title-color: $primary-dark
//$background: $main-grey

$link: $primary-dark
$link-hover: $primary-light

$section-padding: 1.5rem

$title-color: $primary-dark
$subtitle-color: $primary-dark
